<!DOCTYPE html>
<html lang="{{ current_lang() }}">
<head>
    {{ metatags() }}
    {{ css('admin_theme_lte@main.css') }}
</head>

<body class="admin-page hold-transition skin-blue sidebar-mini{% if sidebar_collapsed %} sidebar-collapse{% endif %}">
<div class="wrapper">
    {% include 'admin_theme_lte@header' %}
    {% include 'admin_theme_lte@sidebar' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ metatag_get('title') }}
                <small>{{ metatag_get('description') }}</small>
            </h1>
{#            <ol class="breadcrumb">#}
{#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#                <li class="active">Here</li>#}
{#            </ol>#}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            {% include 'admin_theme_lte@messages' %}
            {{ content }}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'admin_theme_lte@footer' %}
</div>
<!-- ./wrapper -->

{{ js('admin_theme_lte@main.js') }}
{{ inline_js() }}
</body>
</html>
