<!DOCTYPE html>
<html lang="{{ current_lang() }}">
<head>
    {{ metatags() }}
    {{ css_tags() }}
    {{ css_tag('twitter-bootstrap-3') }}
    {{ css_tag('font-awesome-4') }}
    {{ css_tag('admin_theme_lte@AdminLTE/css/AdminLTE.css') }}
    {{ css_tag('admin_theme_lte@AdminLTE/css/skins/skin-blue.css') }}
    {{ css_tag('admin_theme_lte@css/custom.css') }}
    {{ js_head_tags() }}
</head>

<body class="hold-transition skin-blue sidebar-mini{% if sidebar_collapsed %} sidebar-collapse{% endif %}">
<div class="wrapper">
    {% include 'admin_theme_lte@header' %}
    {% include 'admin_theme_lte@sidebar' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ metatag_get('title') }}
                <small>{{ metatag_get('description') }}</small>
            </h1>
{#            <ol class="breadcrumb">#}
{#                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
{#                <li class="active">Here</li>#}
{#            </ol>#}
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            {% include 'admin_theme_lte@messages' %}
            {{ content }}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    {% include 'admin_theme_lte@footer' %}
</div>
<!-- ./wrapper -->

{{ js_tags() }}
{{ js_tag('admin_theme_lte@js/admin-theme-lte-loader.js') }}
{{ inline_js() }}
</body>
</html>
